<section>
  <div class="container py-2">
    <h2>Editar noticia</h2>

    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          formControlName="titulo"
          [ngClass]="{ 'is-invalid': submitted && f.titulo.errors }"
        />
        <div *ngIf="submitted && f.titulo.errors" class="invalid-feedback">
          <p>El título es requerido</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha</label>
        <input
          type="date"
          class="form-control"
          id="fecha"
          formControlName="fecha"
        />
      </div>

      <div class="mb-3">
        <label for="contenido" class="form-label">Contenido</label>
        <textarea
          class="form-control"
          id="contenido"
          formControlName="contenido"
          [ngClass]="{ 'is-invalid': submitted && f.contenido.errors }"
        ></textarea>
        <div *ngIf="submitted && f.contenido.errors">
          <p class="text-danger">El contenido es requerido</p>
        </div>
      </div>

      <div class="mb-3">
        <label for="imagen" class="form-label">Imagen</label>
        <input
          type="file"
          class="form-control mb-3"
          id="imagen"
          formControlName="imagen"
          (change)="onFileSelected($event)"
        />
        <p>Imagen actual:</p>
        <img
          [src]="noticia.imagen"
          class="img-fluid rounded-5 img-thumbnail"
          style="width: 25%"
        />
      </div>

      <button type="submit" class="btn btn-primary">Actualizar noticia</button>
      <button type="button" class="btn btn-danger ms-2" (click)="onCancel()">
        Cancelar
      </button>
    </form>
  </div>
</section>
