<section>
  <div class="container py-2">
    <h2>Crear nuevo usuario</h2>

    <form [formGroup]="usersForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Email/Username</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          El email/username es requerido
        </div>
      </div>

      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          formControlName="nombre"
          [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
        />
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
          El nombre es requerido
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          La contraseña es requerida
        </div>
      </div>
      <div class="mb-3">
        <label for="isAdmin" class="form-label me-3">Es administrador:</label>
        <input
          type="checkbox"
          class="form-check-input"
          id="isAdmin"
          formControlName="isAdmin"
        />

        <div *ngIf="error !== ''" class="alert alert-danger">
          Error en el registro. {{ error }}
        </div>
      </div>
      <div class="mb-3">
        <label for="idgrupo" class="form-label me-3">Grupo:</label>
        <select
          formControlName="idgrupo"
          name="idgrupo"
          class="ml-2"
          [ngClass]="{ 'is-invalid': submitted && f.idgrupo.errors }"
        >
          <option *ngFor="let grupo of grupos" [value]="grupo.idgrupo">
            {{ grupo.nombre }}
          </option>
        </select>
        <div *ngIf="submitted && f.idgrupo.errors" class="invalid-feedback">
          El grupo es requerido
        </div>
        <p>
          *Todos los usuarios pertenecen al grupo "general" por defecto.
          Selecciona otro grupo
        </p>
      </div>

      <button type="submit" class="btn btn-primary">Crear usuario</button>
      <button
        type="button"
        class="btn btn-danger ms-2"
        routerLink="/admin/users"
      >
        Cancelar
      </button>
    </form>
  </div>
</section>
