<section>
  <div class="container py-2">
    <h2>Gestión de Usuarios</h2>
    <button type="button" class="btn" routerLink="/admin/users/create">
      <fa-icon [icon]="faUserPlus"></fa-icon> Añadir usuario
    </button>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Email/Username</th>
          <th>Nombre</th>
          <th>Administrador</th>
          <th>Grupo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngIf="usuarios && usuarios.length > 0">
        <tr *ngFor="let usuario of usuarios">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ usuario.email }}</p>
              </div>
            </div>
          </td>
          <td>
            <p class="text-muted mb-0">{{ usuario.nombre }}</p>
          </td>
          <td>
            <p class="text-muted mb-0">{{ usuario.isAdmin ? "Sí" : "No" }}</p>
          </td>
          <td>
            <p class="text-muted mb-0">{{ usuario.grupo?.nombre }}</p>
          </td>
          <!--<td>
            <span class="badge badge-success rounded-pill d-inline"
              >Active</span
            >
          </td>-->

          <td>
            <button
              type="button"
              class="btn btn-sm"
              (click)="usuario.idusuario && editUser(usuario.idusuario)"
            >
              <fa-icon [icon]="faPencil"></fa-icon>
            </button>
            <button
              type="button"
              class="btn btn-sm"
              (click)="usuario.idusuario && confirmDelete(usuario.idusuario)"
            >
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
