<section>
  <div class="container py-2">
    <h1>Tablón de notas</h1>
    <div *ngIf="notes && notes.length > 0">
      <div class="row">
        <div class="col-sm-6 mt-4" *ngFor="let note of notes">
          <div class="card text-center">
            <div class="card-header">{{ note.titulo }}</div>
            <div class="card-body">
              <h5 class="card-title">{{ note.titulo }}</h5>
              <p class="card-text">
                {{ note.contenido }}
              </p>
            </div>
            <div class="card-footer text-muted">{{ note.fecha }}</div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!notes || notes.length === 0">
      <p>No hay notas disponibles</p>
    </div>
  </div>
</section>
