<section>
  <div class="container py-2">
    <h1>Tablón de notas</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header">Título 1</div>
          <div class="card-body">
            <h5 class="card-title">Nota 1</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              rutrum sagittis est ut sodales. Integer mauris dui, luctus nec
              justo sit amet, placerat ultrices ex. Quisque condimentum quam nec
              est euismod, sed consectetur nisi scelerisque. Etiam vitae nunc
              libero. Praesent rutrum, diam ac mollis ultrices, turpis eros
              dapibus dolor, id volutpat nulla nisi egestas lacus. Vestibulum
              rutrum eu ante interdum suscipit. Pellentesque et consequat magna,
              quis semper est.
            </p>
          </div>
          <div class="card-footer text-muted">2 days ago</div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-header">Título 2</div>
          <div class="card-body">
            <h5 class="card-title">Nota 2</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
              rutrum sagittis est ut sodales. Integer mauris dui, luctus nec
              justo sit amet, placerat ultrices ex. Quisque condimentum quam nec
              est euismod, sed consectetur nisi scelerisque. Etiam vitae nunc
              libero. Praesent rutrum, diam ac mollis ultrices, turpis eros
              dapibus dolor, id volutpat nulla nisi egestas lacus. Vestibulum
              rutrum eu ante interdum suscipit. Pellentesque et consequat magna,
              quis semper est.
            </p>
          </div>
          <div class="card-footer text-muted">5 days ago</div>
        </div>
      </div>
    </div>
  </div>
</section>
