<section>
  <div class="container py-2">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col col-lg-8 mb-6 col-xl-10">
        <div class="card mb-3" style="border-radius: 0.5rem">
          <div class="row g-0" *ngIf="datosUser">
            <div
              class="col-md-4 gradient-custom text-center text-white"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                [src]="datosUser.avatar"
                alt="Avatar"
                class="img-fluid my-5"
                style="width: 80px"
              />
              <h5>{{ datosUser.email }}</h5>
              <p></p>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <div *ngIf="datosUser">
                  <h2>Cambiar Contraseña</h2>
                  <form
                    [formGroup]="changePasswordForm"
                    (ngSubmit)="onSubmit()"
                  >
                    <div>
                      <div class="form-outline mb-4">
                        <label for="currentPassword" class="form-label"
                          >Contraseña Actual</label
                        >
                        <input
                          type="password"
                          id="currentPassword"
                          formControlName="currentPassword"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.currentPassword.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.currentPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.currentPassword.errors?.required">
                            La contraseña es obligatoria
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="newPassword" class="form-label"
                          >Nueva Contraseña</label
                        >
                        <input
                          type="password"
                          id="newPassword"
                          formControlName="newPassword"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.newPassword.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.newPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.newPassword.errors?.required">
                            La nueva contraseña es obligatoria
                          </div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="confirmPassword" class="form-label"
                          >Confirmar Contraseña</label
                        >
                        <input
                          type="password"
                          id="confirmPassword"
                          formControlName="confirmPassword"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f.confirmPassword.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f.confirmPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.confirmPassword.errors?.required">
                            La confirmación de contraseña es obligatoria
                          </div>
                        </div>
                        <div *ngIf="passwordsDoNotMatch" class="text-danger">
                          Las contraseñas no coinciden.
                        </div>
                        <div *ngIf="error" class="alert alert-danger mt-2">
                          {{ error }}
                        </div>
                      </div>
                    </div>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-primary">
                        Actualizar datos
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger ms-3"
                        routerLink="/profile"
                      >
                        Cancelar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
