<!--Carrusel-->
<section class="container py-2 text-center w-100 mx-auto">
  <!-- Carousel wrapper -->
  <div
    id="carouselBasicExample"
    class="carousel slide carousel-fade"
    data-bs-ride="carousel"
  >
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselBasicExample"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBasicExample"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselBasicExample"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">
      <!-- Single item -->
      <div class="carousel-item active">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(77).webp"
          class="d-block w-100 border rounded-5"
          alt="Sunset Over the City"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Formación profesional</h5>
          <p>Prepara tu futuro</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(78).webp"
          class="d-block w-100 border rounded-5"
          alt="Canyon at Nigh"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Ciclos formativos</h5>
          <p>Grado básico y grado medio</p>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(76).webp"
          class="d-block w-100 border rounded-5"
          alt="Cliff Above a Stormy Sea"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>IES GSR</h5>
          <p>Tu centro formativo</p>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <!-- Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselBasicExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselBasicExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Carousel wrapper -->
</section>

<app-news></app-news>
